@font-face {
  font-family: "Amazon Ember";
  src: url("/src/assets/fonts/AmazonEmber_He.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Amazon Ember";
  src: url("/src/assets/fonts/AmazonEmber_Rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
