<div class="nav-bar">
  <div class="nav-bar__title">
    <div class="nav-bar__title__logo">
      <div class="nav-bar__title__logo__location">
        <location-logo></location-logo>
        <div class="nav-bar__title__logo__location__titles">
          <div class="nav-bar__title__logo__location__titles__title">
            Enviar a
          </div>
          <div class="nav-bar__title__logo__location__titles__city">
            Cartagena - Bolivar
          </div>
        </div>
      </div>
      <div class="nav-bar__option-menu">
        <p>Ofertas</p>
      </div>
      <div class="nav-bar__option-menu">
        <p>Historial</p>
      </div>
      <div class="nav-bar__option-menu">
        <p>Vender</p>
      </div>
      <div class="nav-bar__title__logo__principal">
        <img src="../../../assets/img/CARMARKET.png" alt="CARMARKET" />
      </div>
      <div class="nav-bar__option-menu">
        <p>Supermercado</p>
      </div>
      <div class="nav-bar__option-menu">
        <p>Moda</p>
      </div>
      <div class="nav-bar__option-menu">
        <p>Ayuda/PQRS</p>
      </div>
      <div class="nav-bar__title__logo__shop">
        <div class="nav-bar__title__logo__shop__title">
          <div class="content">
            <div class="content__container">
              <p class="content__container__text">Carros</p>
              <ul class="content__container__list">
                <li class="content__container__list__item">Nuevos</li>
                <li class="content__container__list__item">Usados</li>
                <li class="content__container__list__item">Economicos</li>
                <li class="content__container__list__item">Restaurados</li>
              </ul>
            </div>
          </div>
        </div>
        <shop-logo></shop-logo>
      </div>
    </div>
  </div>
</div>
