.details-car {
  padding: 2% 3% 0% 3%;
  background-color: #efefef;
  height: auto;
  &__all-containers {
    display: flex;
    width: 100%;
    gap: 5%;
    @media (max-width: 1360px) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
      width: 100%;
    }
  }
  &__container-all {
    padding: 1% 4% 1% 4%;
    width: 100%;
    height: 722px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 2%;

    &__save {
      display: flex;
      margin-top: 85px;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-family: "Amazon Ember", sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 17px;
      color: #ffffff;
      background-color: #a70000;
      border-radius: 999px;
      padding: 10px;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        cursor: pointer;
        background-color: rgb(167, 0, 0);
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
      }
    }

    &__section-comentarios {
      background-color: #ffffff;
      width: 100%;
      border-radius: 10px;
      height: 498px;
      &__all {
        display: grid;
        justify-items: center;

        &__form {
          display: grid;
          width: 84%;
          height: auto;
          object-fit: cover;
          align-items: center;
          padding: 8%;
        }
        &__title {
          margin-bottom: 5px;
          font-family: "Amazon Ember", sans-serif;
          font-weight: normal;
          font-style: normal;
          font-size: 27px;
          color: #ffffff;
          background-color: #a70000;
          border-radius: 10px 10px 0px 0px;
          margin-bottom: 24px;
          height: 104px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
        }
        &__save {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60%;
          font-family: "Amazon Ember", sans-serif;
          font-weight: normal;
          font-style: normal;
          font-size: 17px;
          color: #ffffff;
          background-color: #a70000;
          border-radius: 999px;
          padding: 10px;
          transition: background-color 0.3s ease, transform 0.3s ease;

          &:hover {
            cursor: pointer;
            background-color: rgb(167, 0, 0);
            transform: scale(1.1);
          }
        }
      }
    }
  }
  &__container {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    &__text {
      display: grid;
      justify-content: end;
      justify-items: end;
      margin-bottom: 17px;
    }
    &__container-details {
      display: grid;
      gap: 14px;

      margin-top: 10%;
      &__title {
        cursor: pointer;
        margin-bottom: 5px;
        font-family: "Amazon Ember", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 27px;
        margin-bottom: 24px;
        display: grid;
      }
      &__info {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(176px, 2fr));
        gap: 20px;
        margin-bottom: 16px;

        &__brand,
        &__model,
        &__km,
        &__plate {
          display: grid;
          align-items: center;
          gap: 10px;
          .title {
            display: flex;
            justify-content: center;
            gap: 10px;
            align-items: center;
            font-family: "Amazon Ember", sans-serif;
            font-weight: normal;
            font-size: 15px;
            font-style: normal;
            background-color: #a70000;
            color: #ffffff;
            border-radius: 999px;
          }
          .subtitle {
            display: flex;
            gap: 10px;
            align-items: center;
            font-family: "Amazon Ember", sans-serif;
            font-weight: normal;
            font-size: 20px;
            font-style: normal;
          }
        }
      }
      .ubication {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: "Amazon Ember", sans-serif;
        font-weight: normal;
        font-size: 20px;
        font-style: normal;
        .svg {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #a70000;
          width: 40px;
          height: 40px;
          color: #ffffff;
          border-radius: 999px;
        }
      }
    }

    &__photo {
      margin-top: 5%;
      img {
        max-width: 584px;
        min-width: 584px;
        height: 597px;
        border-radius: 10px 10px 10px 10px;
        object-fit: cover;
      }
    }

    &__info {
      margin-top: 5%;

      &__offer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Amazon Ember", sans-serif;
        font-weight: normal;
        font-style: normal;
        justify-content: end;
        background-color: #a70000;
        color: #ffffff;
        padding: 9px;
        border-radius: 999px;
        margin-bottom: 20px;
      }
      &__info-price {
        &__price {
          cursor: pointer;
          margin-bottom: 5px;
          font-family: "Amazon Ember", sans-serif;
          font-weight: 900;
          font-style: normal;
          font-size: 67px;
          margin-bottom: 24px;
        }
      }
      &__brand {
        cursor: pointer;
        margin-bottom: 5px;
        font-family: "Amazon Ember", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 26px;
        text-align: end;
      }
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a70000;
    border-radius: 999px;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      background-color: rgb(167, 0, 0);
      transform: scale(1.1);
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    }

    &__back {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: 100%;
      height: 100%;
    }
  }

  &__header-route {
    display: flex;
    align-items: center;
    gap: 20px;
    &__route {
      margin-bottom: 20px;
      font-family: "Amazon Ember", sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 16px;
      text-align: end;
    }
  }
  .section-comentarios {
    padding-bottom: 1%;
    &__title {
      display: flex;
      margin-bottom: 20px;
      font-family: "Amazon Ember", sans-serif;
      font-weight: bold;
      font-style: normal;
      font-size: 26px;
      text-align: end;
    }
    &__container {
      background-color: #ffffff;
      width: 63%;
      padding: 1%;
      border-radius: 10px;
      margin-bottom: 10px;
      &__name-user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Amazon Ember", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 14px;

        color: #bc0000;
      }
      &__date {
        display: flex;
        font-family: "Amazon Ember", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
        text-align: end;
        color: #aeaeae;
      }

      &__description {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        font-family: "Amazon Ember", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        color: #000000;
      }
    }
    &__reactions {
      display: flex;
      align-items: center;
      gap: 10px;
      &__like {
        display: flex;
        align-items: center;
        gap: 5px;
        transition: transform 0.3s ease-in-out;
        :hover {
          transform: scale(1.1);
        }
      }
      &__dislike {
        display: flex;
        align-items: center;
        gap: 5px;
        transition: transform 0.3s ease-in-out;
        :hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

::ng-deep {
  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__trailing {
    border-color: #bc0000 !important;
  }
  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-floating-label,
  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-floating-label--float-above {
    color: #a70000 !important;
  }
  .mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #9d1014 !important;
    --mdc-protected-button-label-text-color: #fff;
    left: 21%;
    top: 98%;
  }
}
