@font-face {
  font-family: "Amazon Ember";
  src: url("./assets/fonts/AmazonEmber_He.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("./assets/fonts/AmazonEmber_Rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Amazon Ember", sans-serif;
}
